@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #415380;
  --secondaryColor: #aee5d1;
  --backgroundColor: #f2f2f2;
  --altBAckgroundColor: #e4e4e4;
  --verdeColor: #59e756;
  --grisColor: #8f8787;
}

.CommentList {
  min-width: 440px;
  max-width: 440px;
  border: black 1px solid;
}
