@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #415380;
  --secondaryColor: #AEE5D1;
  --backgroundColor: #F2F2F2;
  --altBAckgroundColor: #E4E4E4;
  --verdeColor: #59E756;
  --grisColor: #8F8787;
}

